$white: hsl(0, 0%, 100%);
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

$font-barlow: 'Barlow Semi Condensed', sans-serif;;
$fw-500: 500;
$fw-600: 600;
$fs-8s: 8.89px;
$fs-10: 10px;
$fs-11s: 11.04px;

$mobile: 400px;
$mobile-wide: 430px;
$desktop: 1280px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: $fs-10;
    font-family: $font-barlow;
}

.page {
    background: $light-grayish-blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 57.2rem;
    width: 111rem;
    display: grid;
    grid-template-columns: repeat(4, 25.5rem);
    grid-template-rows: 28.2rem 26.6rem;
    gap: 2.4rem 3rem;
    grid-template-areas:
        "card--1 card--1 card--2 card--5"
        "card--3 card--4 card--4 card--5";
}

.card {
    padding: 2.6rem 3.2rem;
    border-radius: .8rem;
    box-shadow: 4rem 6rem 5rem -4.7rem rgba(72, 85, 106, 0.247378);
    &--1 {
        background: $moderate-violet;
        grid-area: card--1;
    }

    &--2 {
        background: $very-dark-grayish-blue;
        grid-area: card--2;
    }

    &--1, &--2 {
        padding-bottom: 3.2rem;
    }

    &--3 {
        background: $white;
        grid-area: card--3;
    }

    &--4 {
        background: $very-dark-blackish-blue;
        grid-area: card--4;
    }

    &--5 {
        background: $white;
        grid-area: card--5;
    }
}

@media screen and (max-width: $desktop) {
    body, html {
        font-size: $fs-8s;
    }
}

@media screen and (max-width: $mobile-wide) {
    body, html {
        font-size: $fs-11s;
    }
}

@media screen and (max-width: $mobile) {
    body, html {
        font-size: $fs-10;
    }
}
