* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 10px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.page {
  background: hsl(210deg, 46%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 57.2rem;
  width: 111rem;
  display: grid;
  grid-template-columns: repeat(4, 25.5rem);
  grid-template-rows: 28.2rem 26.6rem;
  gap: 2.4rem 3rem;
  grid-template-areas: "card--1 card--1 card--2 card--5" "card--3 card--4 card--4 card--5";
}

.card {
  padding: 2.6rem 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 4rem 6rem 5rem -4.7rem rgba(72, 85, 106, 0.247378);
}
.card--1 {
  background: hsl(263deg, 55%, 52%);
  grid-area: card--1;
}
.card--2 {
  background: hsl(217deg, 19%, 35%);
  grid-area: card--2;
}
.card--1, .card--2 {
  padding-bottom: 3.2rem;
}
.card--3 {
  background: hsl(0deg, 0%, 100%);
  grid-area: card--3;
}
.card--4 {
  background: hsl(219deg, 29%, 14%);
  grid-area: card--4;
}
.card--5 {
  background: hsl(0deg, 0%, 100%);
  grid-area: card--5;
}

@media screen and (max-width: 1280px) {
  body, html {
    font-size: 8.89px;
  }
}
@media screen and (max-width: 430px) {
  body, html {
    font-size: 11.04px;
  }
}
@media screen and (max-width: 400px) {
  body, html {
    font-size: 10px;
  }
}
